header {
    padding-top: 20px;
    display: flex;
    flex-wrap: nowrap;
    width: 90%;
    /* height: 60px; */
    background-color: black;
    /* position: fixed; */
    height: 110px;
    margin: 50px auto;
}

.name {
    width: 60%;
    margin-left: 120px;
}

header a {
    font-family: brandon-grotesque;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0em;
    text-transform: uppercase;
    line-height: 2.7em;
    font-size: 20px;
}

.menu a {
    font-family: brandon-grotesque;
    font-weight: 100;
    font-style: normal;
    letter-spacing: 0em;
    text-transform: none;
    line-height: 2.7em;
    font-size: 1.2rem;
}

.name a:last-of-type {
    padding: 0;
}

.name a:first-of-type {
    padding-right: 5px;
}

header .menu {
    float: right;
    text-align: right;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header li {
    float: left;
}

header a {
    display: inline-block;
    text-decoration: none;
    color:#EEAD0E;
    text-align: center;
    padding: 14px 16px;
}

header a:hover {
    color: antiquewhite;
}

.fabric {
    display: inline-block;
}

.fabric-list {
    display: none;
    position: absolute;
    background-color: black;
    height: 50px;
    width: 160px;
    box-shadow: 0px 8px 16px 0px;
    z-index: 1;
}

.fabric-list a {
    padding: 0px 16px;
    display: flex;
    text-align: left;
    flex-direction: column;
}

.fabric:hover .fabric-list {
    display: block;
}

.nadav-kender-album {
    position: relative;
    /* border: 1px solid white; */
    width: 620px;
    height: 320px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
body {
    height: 1000px;
    background-color: black;
}


.video-player {
    margin: 50px auto;
    width: 80%;
    height: 100%;
}


@keyframes spin {
    to {
        transform: rotate(360deg);
   }
}
.stroke-dotted {
    opacity: 0;
    stroke-dasharray: 4, 5;
    stroke-width: 1px;
    transform-origin: 50% 50%;
    animation: spin 4s infinite linear;
    transition: opacity 1s ease, stroke-width 1s ease;
}
.stroke-solid {
    stroke-dashoffset: 0;
    stroke-dashArray: 300;
    stroke-width: 4px;
    transition: stroke-dashoffset 1s ease, opacity 1s ease;
}
.icon {
    transform-origin: 50% 50%;
    transition: transform 200ms ease-out;
}
#play:hover .stroke-dotted {
    stroke-width: 4px;
    opacity: 1;
}
#play:hover .stroke-solid {
    opacity: 0;
    stroke-dashoffset: 300;
}
#play:hover .icon {
    transform: scale(1.05);
}

#play {
    cursor: pointer;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

footer {
    background-color: black;
    height: 100px;
    font-family: brandon-grotesque;
    font-weight: 100;
    font-style: normal;
    letter-spacing: 0em;
    text-transform: none;
    line-height: 1.6em;
    font-size: 1rem;

    padding-left: 60px;
    padding-block-start: 200px;
    padding-bottom: 100px;
    color: #EEAD0E;
}

footer p:first-of-type {
    color: white;
}

footer img {
    width: 20px;
}

.name-info {
    width: 100%;
    margin: 50px auto;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.name-info p {
    font-family: brandon-grotesque;
    font-weight: 100;
    font-style: normal;
    letter-spacing: 0em;
    text-transform: none;
    line-height: 1.6em;
    font-size: 50px;
    color: #EEAD0E;
    margin:0;
}

.name-info .photo-name {
    width: 100%;
    text-align: center;
}

.name-info h2 {
    font-family: brandon-grotesque;
    font-weight: 50;
    font-style: normal;
    letter-spacing: 0.1em;
    text-transform: none;
    line-height: 1em;
    font-size: 20px;
    color: #EEAD0E;

}

img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}